#*******************************************
#* HIRS site configuration properties file
#*******************************************

# Client configuration
CLIENT_HOSTNAME=172.17.0.3
TPM_ENABLED=true
IMA_ENABLED=false

# Site-specific configuration
ATTESTATION_CA_FQDN=172.17.0.2
ATTESTATION_CA_PORT=8443
BROKER_FQDN=172.17.0.2
BROKER_PORT=61616
PORTAL_FQDN=172.17.0.2
PORTAL_PORT=8443

